
@font-face {

	font-family: alien;
	src: url("alien.woff");
}


body {

	font-family: alien;
	font-size: 12px;
	background-image: url("achtergrond.jpg");
	background-position: center center;
	background-size: auto 812px;
	background-repeat: no-repeat;
	background-color: black;
	color:#ffffff;
}

p {
	display: none;
}

.title{
	grid-area: title;
}

.benzine {
	grid-area: benzine;
}

.benodigdheden {
	grid-area: benodigdheden;
}

.mensen {
	grid-area: mensen;
}


@media only screen and (min-width: 768px) and (max-width: 1365px){
	p {
		display: block;
	}
	body{
		font-size: 15px;
	}
}


@media only screen and (min-width: 1366px) and (max-width: 1919px){
	p {
		display: block;
	}
	body {
		font-size:18px;

		display: grid;

		grid-template-columns: 1fr 1fr;

		grid-template-areas: 
			"title title"
			"benzine benzine"
			"benodigdheden mensen";
	}
	
}


@media only screen and (min-width: 1920px){
	body{
		font-size: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 
		"title title title"
		"benzine benodigdheden mensen";
	}
	p{
		display: block;
	}
}




